@font-face {
    font-family: JetBrainsMono;
    src: url(../font/JetBrainsMono/JetBrainsMono-Regular.ttf);
}   

@font-face {
    font-family: JetBrainsMono-bold;
    src: url(../font/JetBrainsMono/JetBrainsMono-Bold.ttf);
}   

@font-face {
    font-family: JetBrainsMono-light;
    src: url(../font/JetBrainsMono/JetBrainsMono-Light.ttf);
}  

@font-face {
    font-family: JetBrainsMono-thin;
    src: url(../font/JetBrainsMono/JetBrainsMono-Thin.ttf);
}  

* {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: JetBrainsMono;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}           

html {
    font-size: 16px;  
}

h1, h2, h3, h4, h5, h6 {
    font-family: JetBrainsMono-bold;
}

a {
    text-decoration: none;
}

:root {
    --animate-duration: 1s;
    --animate-delay: 2s;
}

.animate__animated.animate__backInDown {
    --animate-duration: 1s;

  }

.container {
    max-width: 72rem;
    margin: 0 auto;
    padding: 0 0.9375rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin:  0 -0.9375rem; 
}
 
.col {
    padding: 0 0.9375rem;
}

.w-full {
    width: 100% !important;
}
 /* header css */
.header {
    background-color: #4E2A84;
    /* background-image: linear-gradient(to bottom right, red, green, blue, pink, yellow); */
    position: fixed !important;
    width: 100%;
    z-index: 10;
}

.header  a {
    color: #FFFFFF;
    text-decoration: none;
}

.header .navbar a {
    display: inline-block;
}

.header .active {
    color: #ff0e83;
}

.header .navbar a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    margin-top: 0.2rem;
    background-color: #FFFFFF;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: linear; /* kieu chuyen dong*/
    transition-delay: 0s;

    /* transition: all 0.3s ease; */
}

.header .navbar a:hover::after {
    width: 100%;    
}

.header .logo {  
    font-size: 2.5rem; 
}   

.header .navbar a:hover {
    color: #FF0E83;
}

.header .navbar  a {
    margin-left: 2rem;
}

.header .container {
    /* flexbox */
    display: flex;
    justify-content: space-around;   /* Can chinh vi tri the con theo chieu ngang, truc chinh*/
    align-items: center;         /* chinh theo truc phu */
    flex-direction: row;   /* row la mac dinh,  colum : sap xep theo chieu doc*/
    padding: 0.8rem;
}

.toggle-sidebar {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 0.3125rem;
    padding: 0.5rem 1rem;
    color: #FFFFFF;
    display: none;
}

/* carousel CSS */
.carousel {
    background-image: url(../images/b3.jpg);
    height: 43rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #FFFFFF; 
    /* can chinh */
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
}

.carousel h1 {
    font-size: 3rem;
    animation-name: bounce;
    animation-duration: 1s;
    animation-timing-function: linear; /*kieu chuyen dong*/
    text-transform: uppercase;
    /* animation-delay: 1s; */

    /* lap lai hieu ung */
    /* animation-iteration-count: infinite; */

    /* animation-play-state: running; */
}

.carousel p {
    padding: 1rem 0;
    letter-spacing: 1.2px;
}

/* .carousel h1::before {
    content: "The ";
    color: rebeccapurple;
}

.carousel h1::after {
    content: " !";
    color: rebeccapurple;
} */

.carousel button {
    background-color: #FF0E83;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 0.375rem;
    padding: 0.675rem 1.25rem;
    margin-top: 1rem;
}

/* Statistic CSS */
.statistic {
   padding: 3rem 0;
}

.statistic .col {
    width: 25%;
}

.statistic .item {
    text-align: center;
}

.statistic .item  p{
    font-size: 2rem;
    font-family: JetBrainsMono-bold;
    color: #4F2A84;
    margin-bottom: 0.625rem;
}

.statistic .item  span {
    font-size: 1.2rem;
    font-family: JetBrainsMono-bold;
}

/* gallary css */

.gallery .container {
    max-width: 100%;
}

.gallery .col {
    width: 25%;
}

.gallery .col.col-50 {
    width: 50%;
}

.gallery img {
    width: 100%;
    min-height: 100%;
    opacity: 0.8;
    display: block;
    position: relative;
    min-height: 100%;
    max-width: 100%;
}

.gallery .item {
    position: relative;
    overflow: hidden;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
    margin-bottom: 2rem;
    display: block;
}

.gallery .item .info {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    height: 100%;
    color: #FFFFFF;

}

.gallery h1 {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 3rem;
}

.gallery .info h2 {
    font-family: JetBrainsMono-thin;
    font-size: 2rem;
    position: relative;
    transform: translate3d(0,1rem,0);
    transition: transform 0.35s;
}

.gallery .info span {
    font-size: 2rem;
}

.gallery .item:hover .info h2{
    transform: translate3d(0,0,0);
}

.gallery .info p {
    font-family: JetBrainsMono-thin;
    font-size: 68.5%;
    text-transform: uppercase;

}

.gallery .info h2::after, 
.gallery .info p {
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
}

.gallery .info h2::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0.25rem;
    background: #FFFFFF;
    content: '';
    transform: translate3d(0,2.5rem,0);
}

.gallery .item:hover .info h2::after{
    opacity: 1;
    transform: translate3d(0,0.5rem,0);
}

.gallery .info p {
    transform: translate3d(0,100%,0);
}

.gallery .item:hover .info p{
    opacity: 1;
    transform: translate3d(0,0,0);
}

/* testimonials CSS */

.testimonials {
    background: url(../images/cc1.jpg) no-repeat 0px 0px;
    background-size: cover;
    text-align: center;   
    padding: 3rem 0 5rem; 
}

.testimonials .container h3 {
    font-size: 3rem;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 3rem;  
}

.testimonials .test-monials {
    background-color: rgba(255, 255, 255 , 0.4);
    border: 0.25rem solid #FF0E83;
    cursor: pointer;
}

.testimonials .item .content {
    padding: 3rem 2rem 0 3rem;
}

.testimonials .content p {
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: 1.3px;
    font-weight: 300;
}

.testimonials .content h5{
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: #FFFFFF;
    padding: 1rem 0 0rem;
}

.testimonials .content .quote i{
    color: #2CBEFF;
    margin: 0 1rem;
}

/* .testimonials .quote p::before {
    content: '<h1>pham</h1>';
    height: 10rem;
}

.testimonials .quote p::after {
    content: "Phong";
    height: 20rem;
} */



/* video CSS */
.video {
    padding-top: 3rem;
}
.video .col {
    width: 50%;
}

.video .item  video, .video .item iframe {
    width: 100%;
    height: 21rem;
}

/* team CSS */
.team {
    background-color: #4E2A84;
    margin-top: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.team .row {
    flex-wrap: wrap;  /* day thi xuong dong*/
    margin-top: 3rem;
}

.team .col {
    width: calc( 100% / 3);
}

.team .item img {
    width: 100%;
    display: block;
}

.team .title {
    color: #FFFFFF;
    font-size: 3rem;
    text-align: center;
}

.team .item {
    position: relative;
    margin-bottom: 1.875rem;

    box-shadow: -20px 10px 5px rgba(0, 0, 0 , 0.4);

    overflow: hidden;
}

.team .info {
    background-color: #FF0E83;
    color: #FFFFFF;
    padding: 1.25rem;               
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.team .detail {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0 , 0.6);
    color: #FFFFFF;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0rem;
    left: 0rem;
    padding: 2rem;
    transition: all 0.4s ease;
}

.team .item:hover .info {
    display: none;
}

.team .detail h1 {
    font-size: 1.5rem;
    color: #FF0E83;
}

.team .detail p{
    color: #FFFFFF;
    margin: 1rem 0;
}

.team .detail span {
    display: block;
    color: #FFFFFF;
}

.team .detail i {
    color: #FFFFFF;
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    border: 2px solid #FFFFFF;
    text-align: center;
    margin-right: 0.5rem;
}

/* Hieu ung fade */

.team .item-1 .detail {
    /* display: none; */  
    opacity: 0;
    visibility: hidden; 
}

.team .item-2 .detail {
    left: -100%; /*tinh theo cha la item-2 */

     /* 100% tinh theo chieu dai cua no*/
    /* transform: translate(-100%,0); */
}

.team .item-3 .detail {
    transform: scale(0);
}

.team .item-4 .detail {
    transform: scale(0);
}

.team .item-5 .detail {
    transform: translate(0, -100%);
}

.team .item-6 .detail {
    transform: scale(0) translate(-100%, 0);
}

.team .item-1:hover .detail {
    opacity: 1;
    visibility: visible;
} 

.team .item-2:hover .detail {
    /* transform: translate(0,0); */
    left: 0;
} 

.team .item-3:hover .detail {
    transform: scale(1);
} 

.team .item-4:hover .detail {
    transform: scale(1) rotate(360deg);
}

.team .item-5:hover .detail {
    transform: translate(0,0);
}

.team .item-6:hover .detail {
    transform:  scale(1) translate(0,0);
}


/* contact css */

.contact .col {
    width: 50%;
}

.contact h1 {
    padding: 2rem 0;
    text-align: center;
    font-size: 3rem;
}

.contact .form .form-group{
    margin-bottom: 1rem;
}

.contact .form input[type="text"], 
.contact .form input[type="email"],
.contact .form textarea
{
    width: 100%;
    padding: 1rem 1rem;
    border-radius: 0.3125rem;
    border: 1px solid #666666
}

.contact .form textarea {
    border-radius: 0;
}

.contact .form button {
    width: 100%;
    background-color: #FF0E83;
    display: block;
    border: none;
    padding: 0.6rem;
    cursor: pointer;
    font-size: 1.2rem;
    color: #000000;
    font-family: JetBrainsMono-bold;
    transition: all 0.4s;    
} 

.contact .form button:hover {
    background-color:#000000;
    color: #FFFFFF;
}

/*  intro css */

.intro {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.intro .item-2 {
    grid-column: 2 / span 2;
}

.intro .item-4 {
    grid-column: 1 / span 2;
}

.intro .item-9 {
    grid-column: 3 / span 2;
}

.intro .item-1 {
    background-color: #4E2A84;
}

.intro .item-3 {
    background-color: #FF0E83;
}

.intro .item-4 {
    background-color: #ED6498;
}

.intro .item-6 {
    background-color: #836EAA;
}

.intro .item-8 {
    background-color: #4E2A84;
}

.intro .item h1 {
    color: #FFFFFF;
    margin-bottom: 1rem;
}

.intro .item p {
    color: #C7C1BE;
}

.intro .item img {
    display: block;
}

.intro .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro .content {
    padding: 0 2rem;
    text-align: center;
}

/* map css */
.map {
    margin-top: 3rem;
}

/* Info CSS */
.info-section {
    margin-top: 3rem;
}

.info-section .col {
    width: calc( 100% / 3 );
    text-align: center;
}

.info-section i {
    font-size: 1.75rem;
    color: #4e2a84;
    margin-bottom: 1rem;
}

.info-section .item .address p {
    line-height: 2rem;
    font-size: 1rem;
    letter-spacing: 2px;
    font-family: JetBrainsMono-light;
}

/* Footer CSS */
.footer {
    margin-top: 3rem;
    background-color: rgba(0, 0, 0);
    color: #FFFFFF;
    font-family: JetBrainsMono-light;
}

.footer .row {
    padding-top: 4rem;
}

.footer .col {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer .col h4 a {
    display: block;
    font-size: 1.5625rem;
    color: #ff0e83;
    letter-spacing: 2px;
    font-family: JetBrainsMono-bold;
    margin-bottom: 1rem;
}

.footer p,
.footer span, 
.footer li
{
    font-size: 0.875rem;
    font-family: JetBrainsMono-light;
}

.footer .col .text {
    margin-bottom: 1rem;
    line-height: 1.75rem;
}

.footer .col .bottom-social a i {
    color: #FFFFFF;
    font-size: 1rem;
    border: 1px solid #FFFFFF;
    width: 2.3125rem;
    height: 2.3125rem;
    line-height: 2.3125rem;
    text-align: center;
    margin: 0px 0.4rem;
    transition: all 0.5s;
}


.footer .col .bottom-social a:hover i{
    color: #ff0e83;
    border-color: #ff0e83;
}

.footer .col ul li {
    border-bottom: 1px dotted;
    padding: 0px 0px 0.5rem;
    margin-bottom: 0.625rem;
}

.footer .col .d-flex {
    display: flex;
    justify-content: space-between;
}

.footer .form-group {
    margin-bottom: 1rem;
}

.footer .form-group input[type="email"] {
    color: #000000;
    padding: 0.7rem;
    border: 1px solid #000000;
    width: 75%;
    background: rgb(255, 255, 255);
    outline: none;
    border-radius: 0.25rem;
}

.footer form button {
    color: #000000;
    font-family: JetBrainsMono-bold;;
    border: none;
    border-radius: 0.3rem;
    padding: 0.7rem 3rem;
    background: #ff0e83;
    transition: 0.5s all;
    cursor: pointer;
    margin-bottom: 2rem;
}

.footer form button:hover {
    background-color: #FFFFFF;
}

.footer .copyright {
    padding: 2rem 0;
    text-align: center;
}

.footer .copyright a{
    color: #ff0e83;
}

/* Animation */
@keyframes bounce {
    0%{
        opacity: 0;
        visibility: hidden;
        transform: translate(0,-20rem);
    }
    80%{
        opacity: 0.7;
        visibility: visible; 
        transform: translate(0, 20rem);
    }
    100%{ 
        opacity: 1;
        visibility: visible;
        transform: translate(0);
    }
}


/* REPONSIVE , tiet kiem thoi gian va nhan cong*/

/* 992px ==> 1200px : */
@media screen and (max-width:1200px) {
    h1 {
        color: red !;
    }
}

/* 769px ==> 992px : may tinh bang co lon */
@media screen and (max-width:992px) {

}

/* 576px ==> 768px :  may tinh bang co nho*/
@media screen and (max-width:768px) {
    .header .navbar {
        display: none;
    }

    .toggle-sidebar {
        display: block;
    }

    .header .container {
        justify-content: space-between;
    }

    .carousel {
        padding: 0 1rem;
    }

    .intro {
        grid-template-columns: 1fr 1fr;
    }

    .intro .item-2,
    .intro .item-4,
    .intro .item-9 {
        grid-column: initial;
    }

    .intro .item-9 {
        display: none; 
    }

    .team .col,
    .gallery .row .col  ,
    .footer .col
    {
        width: 50%;
    }

    .footer .col {
        padding-top: 1rem;
    }

    .gallery .row .col-50 {
        width: 100%;
    }

}

/*  < 576px : dien thoai di dong */
@media screen and (max-width:576px) {

    html {
        font-size: 14px;
    }

    .carousel h1 {
        font-size: 2rem;
        animation: none;
    }

    .carousel p {
        font-size: 0.87545rem;
        text-align: center;
    }

    .intro {
        grid-template-columns: 1fr;
    }

    .statistic .col
    {
        width: 50%;
        margin-bottom: 1rem;
    }

    .video .col , 
    .gallery .row .col,
    .contact .form .col, 
    .info-section .col, 
    .footer .col
    {
        width: 100%
    }

    .team .row {
        justify-content: center;
    }

    .team .col {
        width: 60%;
    }

    .info-section .col {
        margin-bottom: 2rem;
    }

    .team .title {
        font-size: 2rem;
    }

    .contact .form h1{
        font-size: 2rem;
    }

    
}


/* ADAPTIVE ---> rich, lam 2 trang khac nhau 1 trang cho web 1 trang cho dt*/